[submodule "libs/portable-file-dialogs"]
	path = libs/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "libs/giflib"]
	path = libs/giflib
	url = https://github.com/mirrorer/giflib.git
